<h3>Time sheet</h3>
<hr>
<button (click)="onAddEntry()" type="button" class="btn btn-primary">Add entry</button> |
<button (click)="onSaveTimeSheet()" type="button" class="btn btn-primary">Save time sheet</button> | 
<button (click)="onTimeSheets()" type="button" class="btn btn-primary">Time Sheets</button>&nbsp;

<div class="form-group">
  <label for="exampleInputEmail1">Week ending</label>
  <input type="date" class="form-control" id="txtWeekEnd" placeholder="Enter week ending" [(ngModel)]="timeSheet.weekEnding">    
</div>  


<table width="100%" border="1">
  <tr>    
    <td>Project</td>
    <td>Story</td>
    <td>Date</td>
    <td>Start Time</td>
    <td>End Time</td>
    <td>Hours</td>
    <td>Notes</td>
    <td>&nbsp;</td>
  </tr>
  <tr *ngFor="let record of timeSheet.entries">
    <td>{{ record.projectId }}</td>
    <td>{{ record.storyId }}</td>
    <td>{{ record.date }}</td>
    <td>{{ record.startTime }}</td>
    <td>{{ record.endTime }}</td>
    <td>{{ record.hours }}</td>
    <td>{{ record.notes }}</td>
    <td>
      <button (click)="onEditEntry(record)" type="button" class="btn btn-primary">Edit</button>|
      <button (click)="onDeleteEntry(record)" type="button" class="btn btn-primary">Delete</button>
    </td>    
  </tr>
</table>
<br>
<app-edit-time-entry 
  [timeEntry]="currentTimeEntry" 
  (onRecordSaved)="onRecordSaved($event)"
  (onClosed)="onClosed($event)"
  #editTimeEntry

  >
</app-edit-time-entry>
